DATABASE_URL=postgresql://user:password@localhost:5432/coaching_platform
DIRECT_URL=postgresql://user:password@localhost:5432/coaching_platform
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development
ADMIN_PASSWORD=change-me

RESEND_API_KEY=re_cYHGY6jF_4A9RdkaqyaM6v6sjDC7jy2o1
CONTACT_TO_EMAILS=sandymosaad24@gmail.com
CONTACT_FROM_EMAIL=onboarding@resend.dev